c_VSIP_testing/output
c_VSIP_testing/test_all
c_VSIP_testing/test_all.c
c_VSIP_testing/atest
c_VSIP_testing/atest.c
python/python_examples/svdDev/svd_f/test_svd_f
python/vsip/c_numpy_src/jvsipNumpyUtils.py
include/
lib/
build/
vsip.py
.ipynb_checkpoints
ToDo
Untitled*
*.aux
*.lot
*.log
*.lof
*.ind
*.ilg
*.odt
*.idx
*.toc
*.gz
*wrap.c
*.pyc
*.[oa]
*.so
*~
.DS_Store
